body{
    background-color: antiquewhite;
    background-image: url("https://imgs.search.brave.com/Tcd9k9XChmNpeAXli85U2i_FHKWJhra5AF8GB0lXQTM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGl2ZW1pbnQuY29t/L2xtLWltZy9pbWcv/MjAyNC8wNi8yNy82/MDB4MzM4L0FOSS0y/MDI0MDYyNDAwMi0w/XzE3MTk0ODYxNDE3/MjNfMTcxOTQ4NjIw/NjU2Ni5qcGc");
    background-repeat: no-repeat;
    background-size: 555px;
    opacity: 6.55;
    background-position-x: left;

}