/*h1{
    /*border: 5px solid blue;
    border-radius: 13px;
    border-color: rgb(3, 167, 112);
    border-top: dotted;
    border-width: 5px;
    border-style: dashed;
    border-radius: 10px;
}*/
h1{
    /*This is shorthand property*/
    border: 5px solid pink;
    border-radius: 20px;
}